h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin-top: 0;
  margin-bottom: 16px;
  color: #000000;
  font-family: "Proxima Nova";
  font-weight: 600;
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 12px;
  }
}

.ao-info {
  display: block;
  width: 100%;
  background-color: #232323;
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  &__elem {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 22px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
    line-height: 1.1;
    text-align: center;
    span {
      a {
        display: inline-block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          border-color: transparent;
          color: #ffde00;
          text-decoration: none;
        }
      }
    }
    &:first-child {
      flex: 1;
      padding: 12px 0;
      span {
        margin: 0 15px;
      }
    }
    &:last-child {
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
  &__phone {
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 700;
  }
  &__call {
    color: #ffde00;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: transparent;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.ao-header {
  display: block;
  width: 100%;
  background-color: #2b2b2b;
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }
  &__basket {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 0 40px 30px 40px;
    box-shadow: 0 2px 21px rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    color: #4e464e;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 400;
    z-index: 100;
    &-good {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 240px;
      margin-top: 25px;
      padding-bottom: 25px;
      border-bottom: 1px solid #ebebeb;
      &:last-child {
        border: none;
      }
      img {
        display: inline-block;
        width: 70px;
        height: 70px;
        margin-right: 14px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        background-color: #ffffff;
        object-fit: contain;
      }
    }
    &-title {
      display: block;
      height: 32px;
      margin-bottom: 20px;
      overflow: hidden;
      color: #4e464e;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #4e464e;
        text-decoration: underline;
      }
    }
    &-button {
      display: block;
      width: 100%;
      padding: 14px 24px;
      border: 1px solid #ffde00;
      background-color: rgba(121, 11, 24, 0);
      color: #000000;
      font-family: "Proxima Nova";
      font-size: 12px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        background-color: #ffde00;
        color: #000000;
        text-decoration: none;
      }
    }
    &-price {
      display: block;
      color: #000000;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 700;
    }
  }
  &__logo {
    display: inline-block;
    text-decoration: none;
    transition: all 0.15s ease-out;
    img {
      display: block;
      max-width: 100%;
    }
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__handlers {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  &__search-droper {
    display: inline-block;
    position: relative;
    padding: 6px 16px;
    text-decoration: none;
    transition: all 0.15s ease-out;
    img {
      display: block;
      max-width: 100%;
    }
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__basket-droper {
    display: inline-block;
    position: relative;
    padding: 6px 16px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    text-decoration: none;
    transition: all 0.15s ease-out;
    img {
      display: block;
      max-width: 100%;
    }
    &-value {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0;
      right: 0;
      margin-top: -5px;
      margin-right: -5px;
      background: #ffde00;
      border-radius: 999rem;
      color: #000000;
      font-family: "Proxima Nova";
      font-size: 12px;
      font-weight: 700;
      text-align: center;
    }
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
      .ao-header__basket-droper-value {
        background-color: #ffffff;
      }
    }
  }
}

.ao-home-category {
  display: block;
  width: 100%;
  padding: 75px;
  background-color: #ffffff;
}

.ao-home-title {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  color: #000000;
  font-size: 30px;
  font-weight: 900;
  &_light {
    color: #ffffff !important;
  }
  &__catalog {
    display: inline-flex;
    align-items: center;
    margin-left: 80px;
    text-decoration: none;
    img {
      display: inline-block;
      margin-right: 15px;
    }
    span {
      display: inline-block;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      color: #000000;
      font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 400;
      line-height: 1.1;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        color: #ffde00;
        text-decoration: none;
      }
    }
    &:hover,
    &:active,
    &:focus {
      border-color: transparent;
      color: #ffde00;
      text-decoration: none;
    }
  }
}

.ao-home-catalog {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  width: 100%;
  &-form {
    display: block;
    position: relative;
    max-width: 365px;
    flex: 1;
    padding: 50px 35px;
    background-color: #e7e7e7;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 15px;
    font-weight: 400;
    z-index: 0;
    &:after {
      display: inline;
      position: absolute;
      content: '';
      width: 424px;
      height: 148px;
      bottom: 0;
      left: 0;
      margin-bottom: -36px;
      background: url('../images/after_oil.png') no-repeat center;
      z-index: -1;
    }
    label {
      display: block;
      color: #000000;
      font-family: "Proxima Nova";
      font-size: 15px;
      font-weight: 700;
    }
    &__button {
      display: block;
      max-width: 216px;
      margin: 0 auto;
      padding: 18px 80px;
      border: none;
      outline: none;
      box-shadow: none;
      border-radius: 3px;
      background-color: #ffde00;
      color: #000000;
      font-family: "Proxima Nova";
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        background-color: #ffe84f;
        text-decoration: none;
      }
    }
    &__row {
      margin-bottom: 26px;
      input {
        display: inline-block;
        max-width: 49%;
        padding: 16px 18px;
        border: none;
        outline: none;
        box-shadow: none;
        border-radius: 3px;
        background-color: #ffffff;
        color: #000000;
        font-family: "Proxima Nova";
        font-size: 15px;
        font-weight: 400;
      }
    }
    &__title {
      display: block;
      margin-bottom: 30px;
      color: #000000;
      font-family: "Proxima Nova";
      font-size: 30px;
      font-weight: 700;
    }
    &__select {
      display: block;
      position: relative;
      width: 100%;
      margin-bottom: 26px;
      border-radius: 3px;
      background-color: #ffffff;
      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 10px;
        height: 5px;
        top: 50%;
        right: 18px;
        margin-top: -2px;
        background: url('../images/icon_select.png') no-repeat center;
      }
      select {
        width: 100%;
        padding: 16px 18px;
        background: none;
        box-shadow: none;
        border: none;
        outline: none;
        appearance: none;
      }
    }
  }
  &__cards {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 810px;
  }
  &-card {
    display: block;
    position: relative;
    width: 270px;
    height: 270px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: all 1.5s ease-out;
    &:hover {
      background-size: 150% 150%;
    }
    &__content {
      display: block;
      width: 100%;
      height: 100%;
      padding: 52px 20px 20px 42px;
      background: rgba(0, 0, 0, 0.65);
    }
    &__number {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 24px;
      font-weight: 700;
      &:before {
        display: block;
        position: absolute;
        width: 26px;
        height: 2px;
        left: 0;
        top: 63px;
        content: '';
        background-color: #ffde00;
      }
    }
    &__title {
      display: inline;
      border-bottom: 1px solid rgba(250, 249, 248, 0.29);
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 400;
      transition: all 0.15s ease-out;
    }
    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
      text-decoration: none;
      .ao-home-catalog-card__title {
        border-color: transparent;
        color: #ffde00;
      }
    }
  }
}

.ao-home-goods {
  display: block;
  width: 100%;
  padding: 75px;
  background: url('../images/home_goods.jpg') no-repeat center;
  background-size: cover;
}

.ao-carousel-goods {
  display: block;
  width: 100%;
}

.ao-carousel-good {
  display: block;
  width: 270px;
  height: 395px;
  margin: 0 10px;
  overflow: hidden;
  outline: none;
  padding: 10px 20px 25px 20px;
  border-radius: 5px;
  background-color: #ffffff;
  text-align: center;
  transition: all 0.15s ease-out;
  a {
    outline: none;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
  &__image {
    display: block;
    width: 100%;
    height: 160px;
    object-fit: contain;
    object-position: center;
  }
  &__title {
    display: block;
    height: 42px;
    overflow: hidden;
    margin: 24px 0 34px 0;
    color: #2091cb;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 700;
    transition: all 0.15s ease-out;
    &:hover {
      text-decoration: underline;
    }
  }
  &__price {
    display: block;
    margin-bottom: 26px;
    color: #010101;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 800;
    line-height: 0.8;
    text-transform: uppercase;
  }
  &__button {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 18px 32px;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 3px;
    background-color: #ffde00;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #252525;
      color: #ffde00;
      text-decoration: none;
    }
  }
}

.ao-home-about {
  display: block;
  width: 100%;
  padding: 70px 0 50px 0;
  background: #ffffff;
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 300;
  p {
    display: block;
    max-width: 460px;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  ul {
    display: block;
    max-width: 460px;
    padding-left: 25px;
    list-style-image: url('../images/icon_li.png');
    line-height: 1.5;
    li {
      margin-bottom: 10px;
    }
  }
}

.ao-help {
  display: block;
  width: 100%;
  padding: 80px 0;
  background: url('../images/home_help.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin-bottom: 16px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
  }
  p {
    display: block;
    margin-bottom: 40px;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }
  &__form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    max-width: 930px;
    margin: 0 auto;
    input {
      display: inline-block;
      flex: 1;
      max-width: 300px;
      padding: 18px 28px;
      outline: none;
      border-radius: 3px;
      border: 1px solid rgba(255, 255, 255, 0.27);
      background-color: rgba(250, 249, 248, 0);
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 300;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:focus {
        border: 1px solid rgba(255, 255, 255, 0.75);
      }
    }
  }
  &__button {
    display: inline-block;
    flex: 1;
    max-width: 300px;
    padding: 19px 24px;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: #ffde00;
    color: #010101;
    font-family: "Proxima Nova";
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #ffe84f;
      text-decoration: none;
    }
  }
}

.ao-footer {
  display: block;
  width: 100%;
  padding: 50px 0;
  background-color: #2b2a2c;
  p {
    opacity: 0.33;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
  &__logo {
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    transition: all 0.15s ease-out;
    img {
      display: block;
      max-width: 100%;
    }
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    img {
      display: inline-block;
      margin-right: 15px;
    }
    a {
      display: inline-block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      color: rgba(255, 255, 255, 0.5);
      line-height: 1.1;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        color: #ffde00;
        text-decoration: none;
      }
    }
  }
  &__nav {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      margin-bottom: 15px;
      a {
        display: inline;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        color: rgba(255, 255, 255, 0.5);
        font-size: 16px;
        font-weight: 300;
        line-height: 1.1;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          border-color: transparent;
          color: #ffde00;
          text-decoration: none;
        }
      }
    }
    &_padding_left {
      padding-left: 50px;
    }
  }
}

.ao-creators {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: #202021;
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 300;
  line-height: 2.25;
  color: #6b6b6b;
  a {
    color: #ffde00;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.ao-home-carousel {
  display: block;
  width: 100%;
  position: relative;
  &-card {
    display: block;
    width: 100%;
    height: 499px;
    overflow-y: auto;
    background-size: cover !important;
    padding: 100px 0;
    p {
      display: block;
      max-width: 410px;
      margin-bottom: 45px;
    }
    &__content {
      display: block;
      max-width: 500px;
      padding-left: 100px;
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 400;
    }
    &__title {
      display: block;
      margin-bottom: 18px;
      color: #ffffff;
      font-size: 48px;
      font-weight: 900;
    }
    &__button {
      display: inline-block;
      padding: 16px 28px;
      border-radius: 3px;
      border: 1px solid rgba(255, 255, 255, 0.75);
      background-color: rgba(250, 249, 248, 0);
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        background-color: #ffde00;
        border-color: #ffde00;
        color: #000000;
        text-decoration: none;
      }
    }
  }
}

.ao-search {
  display: none;
  width: 100%;
  padding: 20px 0;
  background-color: #232323;
  form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    button {
      border: none;
      outline: none;
      background: transparent;
    }
    input {
      flex: 1;
      border: none;
      outline: none;
      background: transparent;
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 400;
    }
    a {
      text-decoration: none;
      transition: all 0.15s ease-out;
      img {
        display: block;
        max-width: 100%;
      }
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
}

.ao-mob-header {
  display: none;
  width: 100%;
  background-color: #2b2b2b;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #4f4f4f;
  }
  &__logo {
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
    transition: all 0.15s ease-out;
    img {
      display: block;
      max-width: 100%;
    }
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__icon {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.15s ease-out;
    img {
      display: block;
      max-width: 100%;
    }
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__map-drop {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 20px;
    background-color: #1e1e1e;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
    z-index: 100;
    span {
      display: block;
      margin-bottom: 10px;
    }
    a {
      display: inline-block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      color: rgba(255, 255, 255, 0.5);
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        color: #ffde00;
        text-decoration: none;
      }
    }
  }
  &__phone-drop {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 20px;
    background-color: #1e1e1e;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
    z-index: 100;
    span {
      display: block;
      margin-bottom: 10px;
    }
    a {
      display: inline-block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      color: rgba(255, 255, 255, 0.5);
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        color: #ffde00;
        text-decoration: none;
      }
    }
  }
  &__droper {
    display: inline-block;
    padding: 20px;
    border-left: 1px solid #4f4f4f;
    img {
      display: block;
      max-width: 100%;
    }
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__drop {
    display: none;
    position: absolute;
    width: auto;
    top: 100%;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #1e1e1e;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    z-index: 100;
    li {
      display: block;
      a {
        display: block;
        min-width: 200px;
        padding: 8px 24px;
        font-family: "Proxima Nova";
        font-size: 12px;
        font-weight: 700;
        line-height: 1.5;
        text-transform: uppercase;
        color: #a09f9f;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 10px 20px;
  }
  &__catalog-droper {
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    img {
      display: inline-block;
      margin-right: 5px;
    }
  }
  &__catalog {
    display: none;
    position: absolute;
    width: auto;
    top: 100%;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 12px 0;
    list-style: none;
    background-color: #1e1e1e;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    z-index: 100;
    li {
      display: block;
      a {
        display: block;
        min-width: 200px;
        padding: 8px 24px;
        font-family: "Proxima Nova";
        font-size: 12px;
        font-weight: 700;
        line-height: 1.5;
        text-transform: uppercase;
        color: #a09f9f;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
  &__search {
    display: inline-flex;
    align-items: stretch;
    flex: 1;
    margin-left: 10px;
    max-width: 225px;
    input {
      display: inline-block;
      flex: 1;
      max-width: 150px;
      padding: 12px 24px;
      border-radius: 999rem 0 0 999rem;
      border: 1px solid #4f4f4f;
      outline: none;
      background-color: rgba(255, 255, 255, 0);
      color: #8a8a8a;
      font-family: "Proxima Nova";
      font-size: 12px;
      font-weight: 300;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: #ffde00;
        color: #ffffff;
        text-decoration: none;
      }
    }
    button {
      display: inline-block;
      padding: 12px 16px;
      border-radius: 0 19px 19px 0;
      border: 1px solid rgba(104, 19, 30, 0.08);
      background-color: #ffde00;
      border-radius: 0 999rem 999rem 0;
    }
  }
}

.ao-modal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 70px;
  .close {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 25px;
    top: 25px;
    background: transparent;
  }
  &__title {
    display: block;
    margin-bottom: 20px;
    color: #000000;
    font-size: 30px;
    font-weight: 400;
  }
  p {
    display: block;
    margin-bottom: 30px;
    color: #666565;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
  }
  form {
    display: block;
    width: 100%;
    max-width: 405px;
  }
  input {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding: 16px 26px;
    outline: 0;
    border-radius: 3px;
    border: 1px solid #e9e9e9;
    background-color: rgba(255, 222, 0, 0);
    color: #666565;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    transition: all 0.15s ease-out;
    &:focus {
      border-color: #ffde00;
    }
  }
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding: 16px 26px;
    outline: 0;
    border-radius: 3px;
    border: 1px solid #e9e9e9;
    background-color: rgba(255, 222, 0, 0);
    color: #666565;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    transition: all 0.15s ease-out;
    &:focus {
      border-color: #ffde00;
    }
  }
  &__button {
    display: block;
    width: 100%;
    padding: 17px 32px;
    border: 0;
    outline: 0;
    border-radius: 3px;
    background-color: #ffde00;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    transition: all 0.15s ease-out;
    &:hover {
      background-color: #ffe84f;
    }
  }
}

.ao-breadcrumps {
  display: block;
  width: 100%;
  padding: 18px 0;
  background-color: #f9f9f9;
  ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.1;
    li {
      display: inline-block;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 400;
      color: #5a5a5a;
      span {
        display: inline-block;
        margin: 0 6px;
        color: #ffde00;
      }
      a {
        display: inline-block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        font-family: "Proxima Nova";
        font-size: 14px;
        font-weight: 400;
        color: #5a5a5a;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          border-color: transparent;
          color: #ffde00;
          text-decoration: none;
        }
      }
    }
  }
}

.ao-page {
  display: block;
  width: 100%;
  padding: 45px 0 75px 0;
  background-color: #ffffff;
  &__title {
    display: block;
    margin-bottom: 30px;
    color: #000000;
    font-family: Lato;
    font-size: 36px;
    font-weight: 900;
    line-height: 1.1;
  }
  &__subtitle {
    display: block;
    margin-top: -10px;
    margin-bottom: 30px;
    color: #000000;
    font-family: Lato;
    font-size: 16px;
    font-weight: 900;
  }
}

.ao-sidebar {
  display: block;
  width: 100%;
  &-form {
    label {
      display: block;
      margin-bottom: 4px;
      color: #000000;
      font-family: "Proxima Nova";
      font-size: 15px;
      font-weight: 700;
    }
    &__button {
      display: block;
      width: 100%;
      margin: 0 auto;
      padding: 18px 80px;
      border: none;
      outline: none;
      box-shadow: none;
      border-radius: 3px;
      border: 1px solid #ffde00;
      background-color: rgba(255, 222, 0, 0);
      color: #000000;
      font-family: "Proxima Nova";
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        background-color: #ffde00;
        color: #000000;
        text-decoration: none;
      }
    }
    &__row {
      margin-bottom: 26px;
      input {
        display: inline-block;
        max-width: 49%;
        padding: 16px 18px;
        border: none;
        outline: none;
        box-shadow: none;
        border-radius: 3px;
        border: 1px solid #e7e7e7;
        background-color: #ffffff;
        color: #000000;
        font-family: "Proxima Nova";
        font-size: 15px;
        font-weight: 400;
      }
    }
    &__select {
      display: block;
      position: relative;
      width: 100%;
      margin-bottom: 26px;
      border-radius: 3px;
      border: 1px solid #e7e7e7;
      background-color: #ffffff;
      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 10px;
        height: 5px;
        top: 50%;
        right: 18px;
        margin-top: -2px;
        background: url('../images/icon_select.png') no-repeat center;
      }
      select {
        width: 100%;
        padding: 16px 18px;
        background: none;
        box-shadow: none;
        border: none;
        outline: none;
        appearance: none;
      }
    }
  }
  &__title {
    display: block;
    margin-top: 8px;
    margin-bottom: 30px;
    color: #000000;
    font-family: Lato;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.1;
  }
  &__nav {
    display: block;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
    line-height: 1.1;
    li {
      display: block;
      a {
        display: inline-block;
        margin-bottom: 24px;
        border-bottom: 1px solid rgba(80, 154, 218, 0.4);
        color: #509ada;
        font-family: "Proxima Nova";
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          border-color: transparent;
          text-decoration: none;
        }
      }
    }
  }
  &__sub-nav {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.1;
    li {
      display: block;
      a {
        display: inline-block;
        margin-bottom: 24px;
        border-bottom: 1px solid rgba(80, 154, 218, 0.4);
        color: #509ada;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          border-color: transparent;
          text-decoration: none;
        }
      }
    }
  }
}

.ao-category {
  &__cards {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 18px;
  }
  &-card {
    display: block;
    position: relative;
    width: 282px;
    height: 275px;
    background-size: 110% 110%;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: all 1.5s ease-out;
    &:hover {
      background-size: 150% 150%;
    }
    &__help {
      display: block;
      margin-bottom: 15px;
      color: #000000;
      font-family: "Proxima Nova";
      font-size: 20px;
      font-weight: 700;
    }
    &__content {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      padding: 52px 20px 20px 42px;
      background: rgba(0, 0, 0, 0.65);
      &_help {
        padding: 30px !important;
        background: #ffde00 !important;
        color: #000000 !important;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 400;
        &:after {
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
          content: '';
          width: 254px;
          height: 164px;
          background: url('../images/need_help.png') no-repeat center;
        }
        p {
          opacity: 0.7;
        }
      }
      &_strange {
        overflow: visible !important;
        position: relative;
        background: #e7e7e7 !important;
        cursor: default;
        &:after {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          width: 395px;
          height: 363px;
          content: '';
          background: url('../images/after_2.png') no-repeat center;
        }
      }
    }
    &__number {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 24px;
      font-weight: 700;
      &:before {
        display: block;
        position: absolute;
        width: 26px;
        height: 2px;
        left: 0;
        top: 63px;
        content: '';
        background-color: #ffde00;
      }
    }
    &__title {
      display: inline;
      border-bottom: 1px solid rgba(250, 249, 248, 0.29);
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 400;
      transition: all 0.15s ease-out;
    }
    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
      text-decoration: none;
      .ao-category-card__title {
        border-color: transparent;
        color: #ffde00;
      }
    }
  }
}

.ao-category-goods {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.ao-category-good {
  display: block;
  width: 270px;
  height: 395px;
  margin: 0 0 20px 0;
  overflow: hidden;
  outline: none;
  padding: 10px 20px 25px 20px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  background-color: #ffffff;
  text-align: center;
  transition: all 0.15s ease-out;
  &:hover {
    border-color: #dfdfdf;
  }
  a {
    outline: none;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
  &__image {
    display: block;
    width: 100%;
    height: 160px;
    object-fit: contain;
    object-position: center;
  }
  &__title {
    display: block;
    height: 42px;
    overflow: hidden;
    margin: 24px 0 34px 0;
    color: #2091cb;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 700;
    transition: all 0.15s ease-out;
    &:hover {
      text-decoration: underline;
    }
  }
  &__price {
    display: block;
    margin-bottom: 26px;
    color: #010101;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 800;
    line-height: 0.8;
    text-transform: uppercase;
  }
  &__button {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 18px 32px;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 3px;
    background-color: #ffde00;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #252525;
      color: #ffde00;
      text-decoration: none;
    }
  }
}

.ao-goods-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.ao-goods-good {
  display: block;
  width: 270px;
  height: 395px;
  margin: 0 0 20px 0;
  overflow: hidden;
  outline: none;
  padding: 10px 20px 25px 20px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  background-color: #ffffff;
  text-align: center;
  transition: all 0.15s ease-out;
  &:hover {
    border-color: #dfdfdf;
  }
  a {
    outline: none;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
  &__switches {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
    label {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin: 0 3px 2px 3px;
      padding: 5px 10px;
      outline: none !important;
      border-radius: 3px;
      background-color: #f1f1f1;
      font-size: 12px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.15s ease-out;
      &:hover {
        background-color: #dedede;
      }
    }
    input[type='radio'] {
      display: none !important;
    }
    input[type='radio']:checked+label {
      flex: 1;
      background-color: #ffde00 !important;
    }
  }
  &__image {
    display: block;
    width: 100%;
    height: 160px;
    object-fit: contain;
    object-position: center;
  }
  &__title {
    display: block;
    height: 42px;
    overflow: hidden;
    margin: 10px 0 16px 0;
    color: #2091cb;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 700;
    transition: all 0.15s ease-out;
    &:hover {
      text-decoration: underline;
    }
  }
  &__price {
    display: block;
    margin-bottom: 18px;
    color: #010101;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 800;
    line-height: 0.8;
    text-transform: uppercase;
  }
  &__button {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 18px 32px;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 3px;
    background-color: #ffde00;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #252525;
      color: #ffde00;
      text-decoration: none;
    }
  }
}

.ao-good-image {
  display: block;
  position: relative;
  width: 100%;
  height: 300px;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  transition: all 0.15s ease-out;
  &>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.15s ease-out;
  }
  &__zoom {
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
    transition: all 0.15s ease-out;
    img {
      transition: all 0.15s ease-out;
    }
  }
  &:hover {
    opacity: 0.9;
    .ao-good-image__zoom {
      img {
        transform: scale(1.2);
      }
    }
  }
}

.ao-good-info {
  display: block;
  width: 100%;
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 300;
  p:first-child {
    display: block;
    margin-bottom: 53px;
    line-height: 1.4;
  }
  &__price {
    display: block;
    margin-bottom: 60px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 15px;
    font-weight: 700;
    span {
      display: block;
      margin-bottom: 12px;
    }
    b,
    strong {
      color: #010101;
      font-family: "Proxima Nova";
      font-size: 36px;
      line-height: 1.28;
      text-transform: uppercase;
    }
  }
  &__how {
    display: inline-block;
    border-bottom: 1px solid #509ada;
    color: #509ada;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
    line-height: 1.1;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: transparent;
      color: #509ada;
      text-decoration: none;
    }
  }
}

.ao-good {
  &-subtitle {
    display: block;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 40px;
    color: #000000;
    font-family: Lato;
    font-size: 28px;
    font-weight: 900;
  }
  &-form {
    label {
      display: block;
      margin-bottom: 4px;
      color: #000000;
      font-family: "Proxima Nova";
      font-size: 15px;
      font-weight: 700;
    }
    &__button {
      display: block;
      width: 100%;
      margin: 0 auto;
      padding: 18px 32px;
      border: none;
      outline: none;
      box-shadow: none;
      border-radius: 3px;
      background-color: #ffde00;
      color: #000000;
      font-family: "Proxima Nova";
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        background-color: #ffe84f;
        color: #000000;
        text-decoration: none;
      }
    }
    &__row {
      margin-bottom: 26px;
      input {
        display: inline-block;
        max-width: 49%;
        padding: 16px 18px;
        border: none;
        outline: none;
        box-shadow: none;
        border-radius: 3px;
        border: 1px solid #e7e7e7;
        background-color: #ffffff;
        color: #000000;
        font-family: "Proxima Nova";
        font-size: 15px;
        font-weight: 400;
      }
    }
    &__select {
      display: block;
      position: relative;
      width: 100%;
      margin-bottom: 26px;
      border-radius: 3px;
      border: 1px solid #e7e7e7;
      background-color: #ffffff;
      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 10px;
        height: 5px;
        top: 50%;
        right: 18px;
        margin-top: -2px;
        background: url('../images/icon_select.png') no-repeat center;
      }
      select {
        width: 100%;
        padding: 16px 18px;
        background: none;
        box-shadow: none;
        border: none;
        outline: none;
        appearance: none;
      }
    }
  }
}

.ao-good-table {
  max-width: 550px;
  &>tbody>tr>td,
  .table>tbody>tr>th,
  .table>tfoot>tr>td,
  .table>tfoot>tr>th,
  .table>thead>tr>td,
  .table>thead>tr>th {
    padding: 6px;
    border: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin-bottom: 20px;
  color: #000000;
  font-family: Lato;
  font-size: 20px;
  font-weight: 900;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 10px;
}

.ao-article {
  display: block;
  width: 100%;
  padding: 100px 0 40px 0;
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 300;
  &__special {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 55px;
    padding: 30px 100px 30px 25px;
    border-radius: 10px;
    background-color: #fff6b8;
    color: #000000;
    font-family: Lato;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    &:before {
      display: block;
      position: absolute;
      top: 0;
      right: 15px;
      width: 59px;
      height: 82px;
      margin-top: -30px;
      content: '';
      background: url('../images/icon_oil.png') no-repeat center;
    }
  }
  p {
    display: block;
    max-width: 680px;
    margin-bottom: 30px;
    opacity: 0.8;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.63;
  }
  blockquote {
    display: block;
    position: relative;
    width: 100%;
    margin: 40px 0;
    padding: 40px 70px;
    border: none;
    text-align: left;
    color: #000000;
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5;
    z-index: 0;
    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 124px;
      height: 109px;
      background: url('../images/icon_quotes.png') no-repeat center;
      z-index: -1;
    }
  }
}

.ao-basket {
  display: block;
  max-width: 640px;
  margin-bottom: 20px;
  p {
    opacity: 0.6;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
  &__select {
    display: block;
    position: relative;
    width: auto;
    flex: 1;
    margin-bottom: 0;
    border-radius: 3px;
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 10px;
      height: 5px;
      top: 50%;
      right: 18px;
      margin-top: -2px;
      background: url('../images/icon_select.png') no-repeat center;
    }
    select {
      width: 100%;
      padding: 16px 18px;
      background: none;
      box-shadow: none;
      border: none;
      outline: none;
      appearance: none;
    }
  }
  &__button {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 18px 32px;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 3px;
    background-color: #ffde00;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &_grey {
      background: #dfdfdf;
    }
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    &_must {
      &:after {
        display: block;
        position: absolute;
        content: '';
        left: 100%;
        top: 50%;
        width: 5px;
        height: 6px;
        margin-left: 20px;
        margin-top: -3px;
        background: url('../images/icon_must.png') no-repeat center;
      }
    }
    input {
      display: inline-block;
      flex: 1;
      padding: 16px 18px;
      border: none;
      outline: none;
      box-shadow: none;
      border-radius: 3px;
      border: 1px solid #e7e7e7;
      background-color: #ffffff;
      color: #000000;
      font-family: "Proxima Nova";
      font-size: 15px;
      font-weight: 400;
    }
    textarea {
      display: inline-block;
      flex: 1;
      padding: 16px 18px;
      border: none;
      outline: none;
      box-shadow: none;
      border-radius: 3px;
      border: 1px solid #e7e7e7;
      background-color: #ffffff;
      color: #000000;
      font-family: "Proxima Nova";
      font-size: 15px;
      font-weight: 400;
    }
    &_some-buttons {
      .ao-basket__button {
        max-width: 48% !important;
      }
    }
    &_big {
      color: #4e464e;
      font-family: "Proxima Nova";
      font-size: 20px !important;
      font-weight: 700;
    }
    span {
      display: inline-block;
      width: 140px;
      opacity: 0.6;
      color: #000000;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 700;
    }
  }
  &__full-price {
    margin: 40px 0;
  }
  &__good {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 30px 0;
    border-bottom: 1px solid #ebebeb;
    &-delete {
      display: block;
      position: absolute;
      left: 100%;
      top: 50%;
      width: 12px;
      height: 12px;
      background: transparent;
      border: none;
      padding: 0;
      margin-top: -12px;
      margin-left: 30px;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        text-decoration: none;
      }
    }
    &-image {
      display: inline-block;
      width: 70px !important;
      min-width: 70px;
      height: 70px;
      margin-right: 40px;
      border: 1px solid rgba(0, 0, 0, 0.08);
      background-color: #ffffff;
      object-fit: contain;
    }
    &-title {
      display: inline-block;
      max-width: 270px;
      color: #4e464e;
      font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 400;
    }
    input {
      display: inline-block;
      max-width: 45px;
      padding: 12px 6px;
      border: 1px solid rgba(78, 70, 78, 0.08);
      background-color: #ffffff;
      text-align: center;
    }
    &-price {
      display: inline-block;
      margin-left: 50px;
      color: #4e464e;
      font-family: "Proxima Nova";
      font-size: 24px;
      font-weight: 700;
    }
  }
  &__pay {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    span {
      display: inline-block;
      position: relative;
      padding-left: 40px;
      opacity: 0.6;
      color: #000000;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 700;
      &:before {
        display: block;
        position: absolute;
        width: 21px;
        height: 21px;
        left: 0;
        top: 0;
        content: '';
        background: url('../images/icon_check.png') no-repeat center;
        background-size: contain;
      }
    }
    p {
      display: block;
      margin: 0;
      opacity: 0.6;
      color: #000000;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 300;
    }
    input[type='radio'] {
      display: none !important;
    }
    input[type='radio']:checked+span:before {
      background: url('../images/icon_checked.png') no-repeat center !important;
    }
  }
}

.m-b-6 {
  margin-bottom: 6px;
}