.navbar {
  min-height: auto;
  margin: 0;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
}

.navbar-toggle {
  margin-right: 0;
}

.clear,
.clear:after,
.clear:before {
  content: none !important;
}

.modal-content {
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  box-shadow: 0 2px 21px rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
}

.navbar-default {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: transparent;
}

.navbar-default .navbar-nav>li>a {
  display: inline-block;
  padding: 24px 12px;
  font-family: "Proxima Nova";
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #a09f9f;
  text-decoration: none;
  transition: all 0.15s ease-out;
  &:hover,
  &:active,
  &:focus {
    border-color: transparent;
    color: #ffffff;
    text-decoration: none;
  }
}

.dropdown-menu {
  padding: 0;
  background: #232323;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.dropdown-menu>li>a {
  display: block;
  padding: 12px 24px;
  font-family: "Proxima Nova";
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #a09f9f;
  text-decoration: none;
  transition: all 0.15s ease-out;
  &:hover,
  &:active,
  &:focus {
    background: #2b2b2b;
    border-color: transparent;
    color: #ffffff;
    text-decoration: none;
  }
}

.ao-home-carousel {
  .slick-next,
  .slick-prev {
    top: 50%;
    bottom: auto;
    margin-top: -18px;
    width: 17px;
    height: 32px;
    z-index: 1;
    opacity: 0.7;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 1;
    }
  }
  .slick-next:before,
  .slick-prev:before {
    display: none;
  }
  .slick-prev {
    left: 20%;
    right: auto;
    background: url('../images/icon_owl_left.png') no-repeat center;
  }
  .slick-next {
    left: auto;
    right: 20%;
    background: url('../images/icon_owl_right.png') no-repeat center;
  }
}

.ao-carousel-goods {
  .slick-next,
  .slick-prev {
    top: -40px;
    bottom: auto;
    width: 34px;
    height: 34px;
    z-index: 1;
    opacity: 0.7;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 1;
    }
  }
  .slick-next:before,
  .slick-prev:before {
    display: none;
  }
  .slick-prev {
    left: auto;
    right: 40px;
    background: url('../images/icon_slick_left.png') no-repeat center;
  }
  .slick-next {
    left: auto;
    right: 0;
    background: url('../images/icon_slick_right.png') no-repeat center;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 780px;
  }
}

.modal-content {
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  box-shadow: 0 2px 21px rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
}