@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .ao-info {
    display: none;
  }
  .ao-header {
    display: none;
  }
  .ao-mob-header {
    display: block;
  }
  .ao-modal {
    padding: 20px;
  }
  .ao-home-carousel-card {
    padding: 20px;
  }
  .ao-home-carousel-card__content {
    padding: 0;
  }
  .ao-home-carousel .slick-next {
    left: 60px;
    bottom: 4px;
    top: auto;
  }
  .ao-home-carousel .slick-prev {
    left: 10px;
    bottom: 4px;
    top: auto;
  }
  .ao-home-title__catalog {
    display: none;
  }
  .ao-home-title {
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .ao-home-category {
    padding: 20px 0;
  }
  .ao-home-catalog__cards {
    justify-content: space-around;
  }
  .ao-home-catalog-form {
    margin-top: 20px;
    padding: 20px;
    &:after {
      display: none;
    }
  }
  .ao-home-goods {
    padding: 20px 0;
  }
  .ao-carousel-goods .slick-next,
  .ao-carousel-goods .slick-prev {
    display: none;
    top: 50%;
  }
  .ao-home-about {
    padding: 20px 0;
  }
  .ao-help {
    padding: 20px 0;
  }
  .ao-help__form input {
    width: 100%;
    flex: 0;
    margin-bottom: 10px;
  }
  .ao-help__form button {
    width: 100%;
    flex: 0;
  }
  .ao-help__form {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .ao-footer {
    padding: 20px 0;
  }
  .ao-footer__nav_padding_left {
    padding: 0;
  }
  .ao-footer__nav {
    margin: 20px 0;
  }
  .ao-page {
    padding: 20px 0 0 0;
  }
  .ao-sidebar__title {
    margin: 0 0 20px 0;
  }
  .ao-sidebar__nav li a {
    margin-bottom: 10px;
  }
  .ao-sidebar__sub-nav li a {
    margin-bottom: 10px;
  }
  .ao-sidebar {
    margin-bottom: 20px;
  }
  .ao-page__title {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .ao-category__cards {
    justify-content: space-around;
  }
  .ao-category-goods {
    justify-content: space-around;
  }
  .ao-goods-cards {
    justify-content: space-around;
  }
  .ao-good-info p:first-child {
    margin-bottom: 20px;
  }
  .ao-good-info__price {
    margin-bottom: 20px;
  }
  .ao-good-info__how {
    margin-bottom: 20px;
  }
  .ao-good-subtitle {
    margin: 20px 0;
  }
  .ao-category-card__content_strange {
    overflow: hidden !important;
  }
  .ao-article {
    padding: 20px 0;
    p {
      margin-bottom: 20px;
    }
  }
  .ao-article__special {
    padding: 20px;
    margin-bottom: 20px;
    &:before {
      display: none;
    }
  }
  .ao-article blockquote {
    margin: 20px 0;
    padding: 20px;
  }
  .ao-home-carousel-card {
    height: 300px;
  }
  .ao-home-carousel-card__title {
    max-height: 76px;
    overflow: hidden;
    margin-bottom: 15px;
    font-size: 32px;
  }
  .ao-home-carousel-card p {
    max-height: 63px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  .ao-help__title {
    margin-bottom: 10px;
  }
  .ao-help p {
    margin-bottom: 20px;
  }
  .ao-breadcrumps ul li {
    margin-bottom: 5px;
  }
  .ao-page__subtitle {
    margin-bottom: 15px;
  }
  .ao-basket__full-price {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
  }
  .ao-basket__good-price {
    margin-left: 5px;
  }
  .ao-basket__row span {
    width: 110px;
  }
  .ao-basket__good-image {
    margin-right: 10px;
  }
  .ao-basket__good {
    flex-flow: row nowrap;
    &>div {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      align-items: center;
      &>input {
        max-width: 35px;
        padding: 6px 2px;
      }
    }
  }
  .ao-basket__good-title {
    width: 100%;
    height: 38px;
    margin-bottom: 2px;
    font-size: 16px;
  }
  .ao-basket__button {
    padding: 18px 2px;
  }
  .ao-basket__good-price {
    font-size: 20px;
  }
  .ao-good-table {
    td {
      display: inline-block;
      width: 50%;
    }
    tr {
      margin: 0;
      padding: 0;
    }
  }
  .ao-modal .close {
    right: 2px;
    top: 2px;
  }
}

@media (min-width: 770px) {
  .ao-home-carousel .slick-prev {
    left: 10%;
  }
  .ao-home-carousel .slick-next {
    right: 10%;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}

@media (min-width: 1000px) {
  .ao-home-carousel .slick-prev {
    left: 6%;
  }
  .ao-home-carousel .slick-next {
    right: 6%;
  }
}

@media (min-width: 1400px) {
  .ao-home-carousel .slick-prev {
    left: 15%;
  }
  .ao-home-carousel .slick-next {
    right: 15%;
  }
}