// bower:scss
// endbower
body {
  overflow-x: hidden;
  color: #000000;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  line-height: 1.2;
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  src: url('../fonts/ProximaNovaRegular.otf');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 300;
  src: url('../fonts/ProximaNovaLight.otf');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  src: url('../fonts/ProximaNovaBold.otf');
}

@font-face {
  font-family: Lato;
  font-weight: 400;
  src: url('../fonts/Lato-Medium.ttf');
}

@font-face {
  font-family: Lato;
  font-weight: 600;
  src: url('../fonts/Lato-Semibold.ttf');
}

@font-face {
  font-family: Lato;
  font-weight: 700;
  src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: Lato;
  font-weight: 900;
  src: url('../fonts/Lato-Heavy.ttf');
}

@font-face {
  font-family: Lato;
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Lato-MediumItalic.ttf');
}

@import "atoms";
@import "restyle";
@import "responsive";